BTrees==6.1
cffi==2.0.0
dnspython==2.7.0
mysql-connector==2.2.9
persistent==6.1.1
pycparser==2.23
pymongo==4.15.2
six==1.17.0
transaction==5.0
zc.lockfile==4.0
ZConfig==4.2
ZODB==6.0.1
zodbpickle==4.2
zope.interface==8.0.1
