BTrees==6.1
cffi==1.17.1
dnspython==2.6.1
mysql-connector==2.2.9
persistent==6.0
pycparser==2.22
pymongo==4.8.0
six==1.16.0
transaction==5.0
zc.lockfile==3.0.post1
ZConfig==4.1
ZODB==6.0
zodbpickle==4.1
zope.interface==7.0.3
